<table border=0>
  <tr>
    <td>
      <table class="settings" border=0>
        <tr>
          <td>Saturation:</td>
          <td><input type="range" min="-100" max="100" step="1" value={{filters.saturation}} onmouseup={{action (mut filters.saturation) value='target.value'}}></td>
          <td>{{filters.saturation}}</td>
        </tr>
        <tr>
          <td>Contrast:</td>
          <td><input type="range" min="-100" max="100" step="1" value={{filters.contrast}} onmouseup={{action (mut filters.contrast) value='target.value'}}></td>
          <td>{{filters.contrast}}</td>
        </tr>
        <tr>
          <td>Brightness:</td>
          <td><input type="range" min="-100" max="100" step="1" value={{filters.brightness}} onmouseup={{action (mut filters.brightness) value='target.value'}}></td>
          <td>{{filters.brightness}}</td>
        </tr>
      </table>
    </td>
    <td>
      <div style="width:500px;">
        {{filter-image src="construction.png" filters=filters}}
      </div>
    </td>
  </tr>
</table>
